body {
  background-color: black;
}
section {
  display: flex;
  height: 64px;
}
div {
  flex-grow: 1;
  border: 2px solid black;
  font-size: 60px;
  line-height: 60px;
  text-align: center; 
  background-color: #fff;
  cursor: pointer;
}
.blue {
  background-color: #4285f4;
}
.green {
  background-color: #03af5f;
}
p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-transform: uppercase;
  font-family: arial;
  color: #fff;
}